<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="background">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="About">About Us</a></li>
        </ul>
        <h1>{{.Name}}</h1>


        <!-- Image section -->
        <img src="{{.Image}}" alt="{{.Name}}" style="width:30%">

        <!-- Band information -->
        <h2><b>{{.Name}}</b></h2>

        <details>
            <summary>Members</summary>

            {{range .Members}}
            {{.}}<br>
            {{end}}
        </details>

        <details>
            <summary>Created in</summary>
            {{.CreationDate}}
        </details>

        <details>
            <summary>First Album</summary>
            {{.FirstAlbum}}
        </details>

        <details>
            <summary>Concerts</summary>
            <ul>
                {{range $city, $dates := .Concerts}}
                <li>{{$city}}
                    <ul>
                        {{range $dates}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </details>
    </section>
    
</body>

</html>