<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <section class="background">
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="About">About Us</a></li>
        </ul>
        <h1>{{.Name}}</h1>

        <!-- Image section -->
        <div class="band-img">
            <img src="{{.Image}}" alt="{{.Name}}" style="width:10%">
        </div>
        <!-- Band information -->
        <div class="card-container1">
            <details class="card">
                <summary>Members</summary>

                {{range .Members}}
                {{.}}<br>
                {{end}}
            </details>

            <details class="card">
                <summary>Created in</summary>
                {{.CreationDate}}
            </details>

            <details class="card">
                <summary>First Album</summary>
                {{.FirstAlbum}}
            </details>

            <details class="card">
                <summary>Locations</summary>
                <ul>
                    {{range $city, $dates := .Concerts}}
                    <li>{{$city}}
                        <ul>
                            {{range $dates}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </details>
    </section>
    </div>
</body>

</html>