<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>{{.ErrorMessage}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <section class="background">
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="About">About Us</a></li>
    </ul>
    <h1>{{.ErrorStatus}}</h1>
    
    <h2>{{.ErrorMessage}}</h2>
</section>
</body>