<!-- home.html -->
{{define "content"}}
<ul class="grid">
    {{range .}}
    <li class="card-container">
    <div class="card">
        
        <img src="{{.Image}}" alt="{{.Name}}" style="width:100%">
        <div class="container">
            <h2><b>{{.Name}}</b></h2>

            <details>
                <summary>Members</summary>{{range .Members}}{{.}}<br> {{end}}
            </details>
            <details>
                <summary>Created in</summary>{{.CreationDate}}
            </details>
            <details>
                <summary>First Album</summary>{{.FirstAlbum}}
            </details>
            <details>
                <summary>Concerts</summary> <ul>
                    {{range $city, $dates := .Concerts}}
                {{$city}}
                            <ul>
                                {{range $dates}}
                                    <li>{{.}}</li>
                                {{end}}
                            </ul>
                        <br>
                    {{end}}
                </ul>
            </details>

        </div>
    </li>
    
    {{end}}
</ul>
{{end}}