<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
 <header>
    <h1>Groupie Tracker</h1>
    <!-- placeholdes for navbar -->
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li>Locations</li>
    </ul>
</header>

        <!-- Placeholder for Dynamic Content -->
    <main>
        {{block "content" .}} {{end}}
    </main>
</body>
</html>
