<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>


<body>
    <section class="background">
            <ul class="nav-bar">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About Us</a></li>
            </ul>
            <h1>Groupie Tracker</h1>

            <!-- placeholdes for navbar -->

            <section>
                <ul class="grid">
                    {{range .}}
                    <li class="card-container">
                        <form action="/{{.Name}}" method="POST" style="display: inline;">
                            <input type="hidden" name="bandName" value="{{.Name}}">
                            <button class="card-btn" type="submit">
                                <div class="card">
                                    <img src="{{.Image}}" alt="{{.Name}}" style="width:100%">
                                    <div class="container">
                                        <h2><b>{{.Name}}</b></h2>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </li>
                    {{end}}
                </ul>
            </section>
        </section>


</body>

</html>