<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <h1>Groupie Tracker</h1>
    
    <!-- placeholdes for navbar -->
    <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="About">About Us</a></li>
        <li><a href="Locations">Locations</a></li>
    </ul>
    <form action="/Search" method="POST" class="search-form">
        <textarea name="search" rows="3" cols="30" placeholder="Enter your text here">{{.Input}}</textarea>
        <button type="submit">Search</button>
    </form>
        
    <h1>No matches found.</h1>
</body>
</html>
