<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <h1>Groupie Tracker</h1>
    <ul class="nav-bar">
        <li>Home</li>
        <li>About Us</li>
        <li>Locations</li>
    </ul>
    <ul class="grid">
        {{range .}}
        <li class="card-container">
        <div class="card">
            
            <img src="{{.Image}}" alt="{{.Name}}" style="width:100%">
            <div class="container">
                <h4><b>{{.Name}}</b></h4>
                <p>Members: {{range .Members}}{{.}}, {{end}}</p>
                <p>Created in: {{.CreationDate}}</p>
                <p>First Album: {{.FirstAlbum}}</p>
                <details>
                    <summary>Locationsℹ️</summary>
                    Hello this is a test
                    Hello this is a test
                    Hello this is a test
                    Hello this is a test
                    Hello this is a test

                </details>
            </div>
        </li>
        
        {{end}}
    </ul>
</body>
</html>
