<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <h1>Groupie Tracker</h1>
    <!-- placeholdes for navbar -->
    <ul class="nav-bar">
        <li>Home</li>
        <li>About Us</li>
        <li>Locations</li>
    </ul>
    <ul class="grid">
        {{range .}}
        <li class="card-container">
        <div class="card">
            
            <img src="{{.Image}}" alt="{{.Name}}" style="width:100%">
            <div class="container">
                <h2><b>{{.Name}}</b></h2>

                <details>
                    <summary>Members</summary>{{range .Members}}{{.}}<br> {{end}}
                </details>
                <details>
                    <summary>Created in</summary>{{.CreationDate}}
                </details>
                <details>
                    <summary>First Album</summary>{{.FirstAlbum}}
                </details>
                <details>
                    <summary>Concerts</summary>{{range .Location}}{{.}}<br> {{end}}
                </details>

            </div>
        </li>
        
        {{end}}
    </ul>
</body>
</html>
