body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section.background {
    background-image: url("/assets/concertv1.1.jpg"), linear-gradient(to bottom, #18091a,#09090f);
    background-size: contain;
    background-position: top; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 550px;
    min-height: 550px;
}

h1 {
    text-align: center;
    color: rgb(240, 187, 227);
    text-decoration: underline;
}

.grid {
    display: grid;
    row-gap: 50px;
    column-gap: 150px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: left;
    padding: 0;
    margin: 150px;
}


.card {
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.596);
    transition: 0.3s;
    background-color: rgb(240, 187, 227);
    border-radius: 15px;
    padding: 20px;
    min-height: 550px;
    
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(240, 187, 227, 0.836);
}
.container {
    padding: 16px;
    margin-left: 5px;
}

.card img {
    border-radius: 15px;
}
.nav-bar {
    border-bottom: 3px solid rgb(240, 187, 227);
    width: 60%;
    margin: auto;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-bar li {
    padding-left: 50px;
    padding-right: 50px;
}

details {
    margin-bottom: 10px; 
    border: 2px solid rgb(68, 32, 59); 
    border-radius: 8px;
}

summary {
    background-color: rgb(68, 32, 59); 
    color: rgb(240, 187, 227); 
    padding: 10px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer; 
    outline: none; 
    
}

.items li {
    margin: 10px; /* Space between each member */
}


.items {
    margin: 10px 0; /* Vertical spacing between items */
}

.search-form {
    display: flex;
    flex-direction: column; /* Stacks the textarea and button vertically */
    align-items: center; /* Centers the form elements horizontally */
    margin-top: 20px;
}

textarea {
    display: block;
    margin-bottom: 20px; /* Adds space between textarea and button */
    text-align: center;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 400px;
    width: 1000px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(68, 32, 59);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(124, 66, 110);
}

details[open] summary {
    background-color: rgb(124, 66, 110); /* Darker blue when open */
}

summary:hover {
    background-color: rgb(124, 66, 110); /* Darker blue on hover */
}

ul {
    padding: 0px;
    list-style-type: none;
    margin-left: 5px;
}

#text {
    margin-left: 5px;
}